{
  "discord": {
    "token": "YOUR_BOT_TOKEN_HERE",
    "appId": "YOUR_APPLICATION_ID_HERE",
    "publicKey": "YOUR_PUBLIC_KEY_HERE"
  },
  "firebase": {
    "serviceAccount": {
      "projectId": "your-project-id",
      "privateKey": "-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n",
      "clientEmail": "your-service-account-email@your-project.iam.gserviceaccount.com"
    }
  }
}